{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{% static "./css/style.css"  %}'>
    <title>RECIPES</title>
    
</head>

<body>
     {% include  './partials/partial.html' %} 
    <div class="container">

       <section>
        <input type="text" >
        <a href="">Busca</a>
       </section>

       <section class="cards">
        <div class="card">
            <div class="image">
                <img src="https://swiftbr.vteximg.com.br/arquivos/pappardelle-de-costela-618614-2.png?v=638101768874870000" alt="">
            </div>
            <h3>Pratos quentes</h3>
            <div class="information">
                <div class="icon">
                    <img src="https://cdn-icons-png.flaticon.com/512/4211/4211178.png" alt="">
                </div>
                <p>Keven</p>
                <div class="icon2">
                    <img src="https://cdn-icons-png.flaticon.com/512/42/42446.png" alt="">
                </div>
                <p class="date">23/04/1988</p>
            </div>
        </div>

        <div class="card">
            <div class="image">
                <img src="https://swiftbr.vteximg.com.br/arquivos/pappardelle-de-costela-618614-2.png?v=638101768874870000" alt="">
            </div>
            <h3>Pratos Frios</h3>
            <div class="information">
                <div class="icon">
                    <img src="https://cdn-icons-png.flaticon.com/512/4211/4211178.png" alt="">
                    
                </div>
                <p>Keven</p>
                <div class="icon2">
                    <img src="https://cdn-icons-png.flaticon.com/512/42/42446.png" alt="">
                </div>
                <p class="date">23/04/1988</p>
            </div>
        </div>

        <div class="card">
            <div class="image">
                <img src="https://swiftbr.vteximg.com.br/arquivos/pappardelle-de-costela-618614-2.png?v=638101768874870000" alt="">
            </div>
            <h3>Comida baiana</h3>
            <div class="information">
                <div class="icon">
                    <img src="https://cdn-icons-png.flaticon.com/512/4211/4211178.png" alt="">
                
                </div>
                <p>Keven</p>
                <div class="icon2">
                    <img src="https://cdn-icons-png.flaticon.com/512/42/42446.png" alt="">
                </div>
                <p class="date">23/04/1988</p>
            </div>
        </div>

        <div class="card">
            <div class="image">
                <img src="https://swiftbr.vteximg.com.br/arquivos/pappardelle-de-costela-618614-2.png?v=638101768874870000" alt="">
            </div>
            <h3>Comida paulista</h3>
            <div class="information">
                <div class="icon">
                    <img src="https://cdn-icons-png.flaticon.com/512/4211/4211178.png" alt="">
                </div>
                <p>Keven</p>
                <div class="icon2">
                    <img src="https://cdn-icons-png.flaticon.com/512/42/42446.png" alt="">
                </div>
                <p class="date">23/04/1988</p>
            </div>
        </div>

        <div class="card">
            <div class="image">
                <img src="https://swiftbr.vteximg.com.br/arquivos/pappardelle-de-costela-618614-2.png?v=638101768874870000" alt="">
            </div>
            <h3>Comida Sulista</h3>
            <div class="information">
                <div class="icon">
                <img src="https://cdn-icons-png.flaticon.com/512/4211/4211178.png" alt=""></div>
                <p>Keven</p>
                <div class="icon2">
                    <img src="https://cdn-icons-png.flaticon.com/512/42/42446.png" alt="">
                </div>
                <p class="date">23/04/1988</p>
            </div>
        </div>

   
        <div class="card">
            <div class="image">
                <img src="https://swiftbr.vteximg.com.br/arquivos/pappardelle-de-costela-618614-2.png?v=638101768874870000" alt="">
            </div>

            <h3>Comidado Norte</h3>
            <div class="information">
                <div class="icon">
                    <img src="https://cdn-icons-png.flaticon.com/512/4211/4211178.png" alt="">
                </div>
                <p>Keven</p> 

                <div class="icon2">
                    <img src="https://cdn-icons-png.flaticon.com/512/42/42446.png" alt="">
                </div>
                <p class="date">23/04/1988</p> 
               
            </div>
           
        </div>
      </section>
    </div>
    <script>
        function Data(){

        let data = new Date(2023,8,8)
        let day = data.getDay()
        let month = data.getMonth()
        let year = data.getYear()
        
        let documents = document.querySelector('.date').innerHTML += `<p>${day}/${month}/${year}</p>`
        console.log(day)
        return documents;
        }
        Data()

    </script>
</body>
</html>
