{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href='{% static "./css/style.css"  %}' />
    <title>RECIPES</title>
  </head>

  <body>
    {% include './partials/partial.html' %}
    <div class="container">
      <section>
        <input type="text" />
        <a href="">Busca</a>
      </section>

      <section class="cards">
        {% include './partials/card.html'%}

        <div class="card">
          <div class="image">
            <img
              src="https://swiftbr.vteximg.com.br/arquivos/pappardelle-de-costela-618614-2.png?v=638101768874870000"
              alt=""
            />
          </div>
          <h3>Comida baiana</h3>
          <div class="information">
            <div class="infoIcons">
              <div class="icon">
                <img
                  src="https://cdn-icons-png.flaticon.com/512/4211/4211178.png"
                  alt=""
                />
              </div>
              <p>Keven</p>
              <div class="icon2">
                <img
                  src="https://cdn-icons-png.flaticon.com/512/42/42446.png"
                  alt=""
                />
              </div>

              <div class="date"></div>

              <div class="icon3">
                <img
                  src="https://cdn-icons-png.flaticon.com/512/599/599995.png"
                  alt=""
                />
                <div class="foodIcon">Pizza</div>
              </div>
            </div>
            <div class="text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae
              fugit itaque possimus aliquid vitae blanditiis sed excepturi
              quidem aspernatur, expedita necessitatibus magnam quas omnis quo
              pariatur ut id, nostrum voluptatem.
            </div>
            <a class="mais" href=""><button class="button">ver mais</button></a>
          </div>
        </div>

        <div class="card">
          <div class="image">
            <img
              src="https://swiftbr.vteximg.com.br/arquivos/pappardelle-de-costela-618614-2.png?v=638101768874870000"
              alt=""
            />
          </div>
          <h3>Comida paulista</h3>
          <div class="information">
            <div class="infoIcons">
              <div class="icon">
                <img
                  src="https://cdn-icons-png.flaticon.com/512/4211/4211178.png"
                  alt=""
                />
              </div>
              <p>Keven</p>
              <div class="icon2">
                <img
                  src="https://cdn-icons-png.flaticon.com/512/42/42446.png"
                  alt=""
                />
              </div>
              <div class="date"></div>
              <div class="icon3">
                <img
                  src="https://cdn-icons-png.flaticon.com/512/599/599995.png"
                  alt=""
                />
                <div class="foodIcon">Pizza</div>
              </div>
            </div>
            <div class="text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae
              fugit itaque possimus aliquid vitae blanditiis sed excepturi
              quidem aspernatur, expedita necessitatibus magnam quas omnis quo
              pariatur ut id, nostrum voluptatem.
            </div>
            <a class="mais" href=""><button class="button">ver mais</button></a>
          </div>
        </div>
      </section>

      {% block content %}
      {% endblock %}
      
      {% include './partials/rodape.html' %}
    </div>
    <script src="../static/js/script.js"></script>
  </body>
</html>
