*{
    margin: 0;
    padding: 0;
  
}
body{
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
h1{
    font-size: 4rem;
    margin-block-start: 0;
    margin-block-end: 0;
    
}
header{
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    height: 10vh;
    justify-content: center;
    text-align: center;

}
.container{
    height: 100%;
    width: 100%;
    background-color: rgb(240, 240, 240);
}
p{
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 2ch;
    right: 148px;
    top:8px;
    position: relative;
    color: #969696;
}
input{
    width: 30vw;
    margin-top: 3rem;
    margin-left: 35%;
    height: 3vh;
    border: 0;
    border-radius: 10px;
}
section{
    justify-content: center;
    align-items: center;
}
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 5%;
    margin-left:90px;
    height: 97%;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
.card{
    background-color: rgb(255, 255, 255);
    width: 77%;
    height: 65vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 15%;
    box-shadow:3px 3px 3px 3px black;
}
.card:hover{
    transform: scaleX(1), scaleY(1);
}
h3{
    color: #000000;
    font-size: 3ch;
}
a{
    text-decoration: none;
   
    padding: 0.33%;
    color: #ffffff;
    border-radius: 10px;
}
.image{
    width: 100%;
    border-radius: 10px;
    
}
img{
    width: 100%;
    height: 100%;
    
}
.icon{
    width: 3.5%;
    right:20px;
    position: relative;
    top: 26.5px;
}
.icon2{
    width: 3.5%;
    left: 125px;
    position: relative;
    bottom:14px;

}
.icon3{
    width: 3.5%;
    position: relative;
    bottom:51px;
    left:260px;
}
.date {
    position: relative;
    bottom:41px;
    color: #000;
    left: 43%;
}
.foodIcon{
    position: relative;
    bottom:23px;
    margin-left:19px;
    font-size: 2ch;
    color: #969696;
}

.information{
    justify-content:center;
    align-items:center;
}
.text{
    font-size: 2ch;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 10%;
}
.infoIcons{
    margin-left:20%;
    

}
.mainfooter{
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    display: flex;
    padding: var(--spacing-gutter-large);
}
.mainfooter a{
    background-color: #000;
    text-decoration: none;
    color: #ffffff;
    font-size: 4em;
    transition: 1s;
}
.mainfooter a:hover{
    color: rgb(85, 85, 85);
    transition: 1s;
    
}
.button{
    width: 40%;
    padding: 0.33%;
    color: #000;
    border-radius: 10px;
    background-color: rgb(138, 138, 138);
    
}
.cardsRecipe{
    
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.cardRecipe{
    margin-top: 5%;
    background-color: rgb(255, 255, 255);
    width: 45%;
    height:162vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow:3px 3px 3px 3px black;
    margin-bottom:5%;
   
}
.cardRecipe a{
    text-decoration: double;
}
.imageRecipe{
    width: 100%;
    height: 35%;
    border-radius: 10px;
}
.cardRecipe #icon{
    width:3.5%;
    top: 30px;
    position: relative;
}
.cardRecipe #icon2{
    width:3.5%;
    left: 200px;
    position: relative;
    bottom: 20px;
}

.cardRecipe #icon3{
    width:3.5%;
    position: relative;
    left: 400px;
    bottom: 70px;
}
.cardRecipe p{
    position: relative;
    right: 260px;  
    
}
.cardRecipe .infoIcons{
    margin-left:170px;
}
.cardRecipe .date{
    position: relative;
    left: 200px;
    bottom: 50px;
}
.cardRecipe #foodIcon{
    position: relative;
    bottom: 25px;
    left: 40px;
}

