* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100%;
    min-height: 100%;
}

h1 {
    font-size: 4rem;
    margin-block-start: 0;
    margin-block-end: 0;

}

header {
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    height: 15vh;
    justify-content: center;
    text-align: center;

}

.container {
    height: 100%;
    width: 100%;
    background-color: rgb(240, 240, 240);

}

p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 2ch;
    color: #969696;
}

input {
    width: 30vw;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 35%;
    height: 3vh;
    border: 0;
    border-radius: 10px;
}


.cards {
    height: auto;
    width: 100%;
    align-items: center;
    place-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    column-gap: 5rem;
    row-gap: 4rem;

}

.card {
    background-color: rgb(255, 255, 255);
    width: 87%;
    height: 77vh;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 15%;
    box-shadow: 3px 3px 3px 3px black;
}

.card:hover {
    transform: scaleX(1), scaleY(1);
}

h3 {
    color: #000000;
    font-size: 3ch;
}

a {
    text-decoration: none;
    padding: 0.33%;
    color: #ffffff;
    border-radius: 10px solid 'black';
    
}

.image {
    width: 100%;
    border-radius: 10px;

}

img {
    width: 100%;
    height: 100%;

}

.icon {
    width: 1.5rem;
    height: 1.5rem;
    padding: 3rem;
    flex-direction: row;
}

.date {
    color: #969696;

}

.foodIcon {
    font-size: 2ch;
    color: #969696;
}

.information {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    width: 100%;
    
}

.description {
    font-size: 2ch;
    text-align: start;
    padding-left: 30px;
    margin-bottom: 10%;
}
.contDescrip{
    width: 100%;
   
}

.infoIcons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;


}

.mainfooter {
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    display: flex;
    padding: var(--spacing-gutter-large);
   
    
}

.mainfooter a {
    background-color: #000;
    text-decoration: none;
    color: #ffffff;
    font-size: 4em;
    transition: 1s;
}

.mainfooter a:hover {
    color: rgb(85, 85, 85);
    transition: 1s;

}

.button {
    width: 40%;
    padding: 0.33%;
    color: #000;
    border-radius: 10px;
    background-color: rgb(138, 138, 138);

}


.cardsRecipe {

    display: flex;
    justify-content: center;
    align-items: center;

}

.cardRecipe {
    margin-top: 5%;
    background-color: rgb(255, 255, 255);
    width: 32%;
    height: 72vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px black;
    margin-bottom: 5%;

}

.cardRecipe a {
    text-decoration: double;
}

.imageRecipe {
    width: 100%;
    height: 45%;
    border-radius: 20px;
}

.cardRecipe #icon {
    width: 3.5%;
    top: 30px;
    position: relative;
    right: 105px;
}

.cardRecipe #icon2 {
    width: 3.5%;
    left: 100px;
    position: relative;
    bottom: 12px;
}

.cardRecipe #icon3 {
    width: 3.5%;
    position: relative;
    left: 300px;
    bottom: 50px;


}

.cardRecipe p {
    position: relative;
    right: 260px;

}

.cardRecipe .infoIcons {
    margin-left: 170px;
}

.cardRecipe .date {
    position: relative;
    right: 55px;
    bottom: 33px;
}

.cardRecipe #foodIcon {
    position: relative;
    bottom: 75px;
    left: 125px;
}

#category {
    color: #969696;
}
.cardRecipe .description{
 
    position: relative;
    
}
#busca{
    color: #000;
    outline-color: white;
}
