
{% load static %}


<div class="card">
  <div class="image">
    <img
      src="{{recipe.cover.url}}"
      alt=""
    />
  </div>
  <h3>{{recipe.title}}</h3>
  <div class="information">
    <div class="infoIcons">
      <div class="icon">
        <img
          src="https://cdn-icons-png.flaticon.com/512/4211/4211178.png"
          alt=""
        />
      </div>
      <p>{{recipe.author.first_name}}</p>
      <div class="icon2">
        <img src="https://cdn-icons-png.flaticon.com/512/42/42446.png" alt="" />
      </div>
      <div class="date"></div>
      <div class="icon3">
        <img
          src="https://cdn-icons-png.flaticon.com/512/599/599995.png"
          alt=""
        />
        <div class="foodIcon">Pizza</div>
      </div>
    </div>
    <div class="text">
     {{recipe.description}}
    </div>
    {% if is_detail_page is not True  %}
        <a class="mais" href="recipe"><Button class="button" >ver mais</Button></a>
    
      {% endif %}

   
    </div>

</div>
