{% load static %}

{% if is_detail_page is not True %}

<div class="card">
  <div class="image">
    <img src="{{recipe.cover.url}}" alt="" />
  </div>
  <h3>{{recipe.title}}</h3>
  <div class="information">
    <div class="infoIcons">
      {% if recipe.author is not None %}
      <div class="icon">
        <img src="https://cdn-icons-png.flaticon.com/512/4211/4211178.png" alt="" />
      </div>
      <p>
        {% if recipe.author.first_name %}
            {{recipe.author.first_name}} {{recipe.author.last_name}}

        {% else %}
            {{ recipe.author.username }}
        {% endif %}
      </p>
      {% endif %}
      <div class="icon2">
        <img src="https://cdn-icons-png.flaticon.com/512/42/42446.png" alt="" />
      </div>
      <div class="date">{{recipe.create_at|date:"d/m/y"}} </div>
      <div class="icon3">
        <img src="https://cdn-icons-png.flaticon.com/512/599/599995.png" alt="" />
        <div class="foodIcon"><a id="category"
            href="{% url 'recipes:category' recipe.category.id %}">{{recipe.category}}</a></div>
      </div>
    </div>
    <div class="contDescrip">
      <div class="description">{{recipe.description}}</div>
    </div>
    <a class="mais" href='{% url "recipes:recipe" recipe.id %}'><Button class="button">ver mais</Button></a>
  </div>
  </div>
  {% endif %}


{% if is_detail_page is True %}
  {% for recipe in recipe %}
    <div class="cardRecipe">
      <div class="imageRecipe">
        <img src="{{ recipe.cover.url }}" alt="" />
      </div>
        <h3>{{recipe.title}}</h3>
      </a>
      <div class="information">
        <div class="infoIcons">
       
          <div id="icon">
            <img src="https://cdn-icons-png.flaticon.com/512/4211/4211178.png" alt="" />
          </div>
          <p>
            {% if recipe.author.first_name %}
            {{recipe.author.first_name }} {{recipe.author.last_name}}

          {% else %}
          {{ recipe.author.username }}
          {% endif %}

        </p>
        <div id="icon2">
          <img src="https://cdn-icons-png.flaticon.com/512/42/42446.png" alt="" />
        </div>

        <div class="date">{{recipe.create_at|date:'d/m/y'}}</div>
        <div id="icon3">
          <img src="https://cdn-icons-png.flaticon.com/512/599/599995.png" alt="" />
      </div>
      <div id="foodIcon" style="color: gray;">Pizza</div>
    </div>
      <div class="contDescrip">
      <div class="description">{{recipe.description}}</div>
    </div>
  
    <div class="preparation-steps">
      {% if preparation_step_is_html is True %}
      {{ recipe.preparation_step|safe }}
      {% else %}
      {{ recipe.preparation_step|linebreaksbr }}

      {% endif %}
    </div>
    
{% endfor %}
{% endif %}

