{% extends "home.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href='{% static './css/style.css' %}' />
  <title>
    {% block title %}Cards{% endblock title %}
  </title>
</head>

<body>
  {% include 'partial.html' %}
  <div class="container">
    <h1>{{category.category}}</h1>
    <section class="cards" style="margin-top: 3%;">
        {% for ct in category %}
      <div class="card">
      
        <div class="image">
            <img src="{{ ct.cover.url }}" alt="" />
        </div>
        <h2>{{ct}}</h2>
        <div class="description"><p>{{ct.description}}</p></div>
      </div>

       
        {% endfor %}
  
     
    
    
    </section>
   {% include 'rodape.html' %}
  </div>

</body>

</html>